<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # 🔒 Bloquear ejecución de PHP en storage y subcarpetas
    <Directory "storage">
        <FilesMatch "\.php$">
            Deny from all
        </FilesMatch>
    </Directory>

    # 🔒 Bloquear PHP también en /public/storage
    <Directory "public/storage">
        <FilesMatch "\.php$">
            Deny from all
        </FilesMatch>
    </Directory>

</IfModule>
# ----------------------------------------------------------------------
Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
Header always set X-Frame-Options "SAMEORIGIN"
Header always set X-Content-Type-Options "nosniff"
Header always set Referrer-Policy "strict-origin-when-cross-origin"
#------------------------------------------------------------------------
<Files 403.shtml>
order allow,deny
allow from all
</Files>
deny from 217.154.234.180
deny from 20.127.57.195
deny from 72.146.6.194
deny from 20.19.191.162
deny from 103.82.21.232
deny from 136.107.80.76
deny from 20.46.120.13
deny from 4.235.104.4
deny from 35.246.114.142
deny from 34.168.202.207

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php81” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php81 .php .php8 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
